<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body class="bg-slate-100 flex h-svh">
  <%- include('./partials/header.ejs') %>

  <main class="p-4 sm:p-8 overflow-scroll">
    <h2 class="mt-8 mb-4 text-4xl text-slate-400">Browse by genre</h2>

    <form id="genres-form" method="get">
      <% genres.map(genre => { %>
      <label>
        <input type="checkbox" name="genre" value="<%= genre.name %>" <%= checkedGenres.includes(genre.name) ? "checked" : "" %>>
        <%= genre.name %>
        </input>
      </label>
      <% }) %>
    </form>

    <% if (booksByGenre) { %>
    <section>
      <h2 class="mt-8 mb-4 text-2xl text-slate-400">Books</h2>

      <div class="flex gap-8 flex-wrap justify-center sm:justify-start">
        <% booksByGenre.map(book => { %>
        <%- include('../views/partials/book.ejs', {book}) %>
        <%  }) %>
      </div>
    </section>
    <% } %>

  </main>
</body>

<script>
  const genresForm = document.getElementById('genres-form')
  const checkboxes = genresForm.querySelectorAll('input[type="checkbox"]');

  // Submit the form when a checkbox is selected
  checkboxes.forEach(checkbox => {
    checkbox.addEventListener('change', () => {
      genresForm.submit();
    })
  })
</script>

</html>